@import '../colors.scss';

.mainbutton {
    border: 0px;
    min-width: 100px;
    border-radius: 8px;
    background-color: $cprimary500;
    color: white;
    padding: 7px 6px;
    transition: .3s ease-out; 
    font-family: 'Play', sans-serif;
    &:hover {
        background-color: rgba(58, 12, 163, 0.8);
        transition: .3s ease-out; 
    }
}

.mainbutton-disabled {
    cursor: default;
    pointer-events: none;
    border: 0px;
    min-width: 100px;
    border-radius: 8px;
    background-color: rgba(58, 12, 163, 0.5);
    color: white;
    padding: 7px 6px;
    transition: .3s ease-out; 
    font-family: 'Play', sans-serif;
}

.position-cta-fixed {
    position: fixed;
    bottom: 60px;
    right: 60px;
}



@media (max-width: 576px) {
    .position-cta-fixed {
        bottom: 30px;
        right: 30px;
    }
}