@import '../colors.scss';

.beercard {
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid $cgrey100;
    .logo_beer_card {
        height: 40px;
        margin: 0px 10px;
    }
    .width-parts-card {
        width: 20%;
        text-align: center;
    }
    .width-parts-card-large {
        width: 40%;
    }
}

.outof10 {
    color: #f7db32;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

.beershowimg {
    height: 100px;
}

@media (max-width: 768px) {
    .width-parts-card, .width-parts-card-large {
        width: auto !important;
    }
}