input {
    border: solid 1px rgba(209,213,219,0.7);
    border-radius: 4px;
    height: 50px;
    padding: 4px;
    width: 100%;
}

.autocomplete-element {
    background-color: white;
    margin-bottom: 0px;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        background-color: $cgrey200;
    }
}

.autocomplete-group {
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
}