@import '../colors.scss';

.hamburger {
    width: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 100;
    hr {
        margin: 0px 0px 10px 0px;
        height: 5px !important;
        background-color: $cprimary700;
        opacity: 1;
        transition-duration: 0.7s;
    }
    .rotate-first-HR {
        transform: translateY(15px) rotate(45deg);
        transition-duration: 0.7s;
    }
    .rotate-second-HR {
        transform: rotate(-45deg);
        transition-duration: 0.7s;
    }
    .rotate-third-HR {
        transform: translateY(-15px) rotate(45deg);
        transition-duration: 0.7s;
    }
}

.display-menu-items {
    transform: translateX(0%) !important;
    transition-duration: 0.5s;
}

.menu-items {
    transition-duration: 0.5s;
    transform: translateX(-100%);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: rgba($cprimary600, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
    }
    p {
        color: $cprimary100 !important;
        &:hover {
            color: $cprimary200 !important;
        }
    }
}