@import '../colors.scss';

.popin-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left : 0;
    background-color: rgba($cprimary600, 0.8);
    z-index: 5;
}

.popin {
    padding: 10px;
    width: 90%;
    height: 98%;
    background-color: #f9fafb;
    border-radius: 4px;
    position: fixed;
    top: 1%;
    margin: auto;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .popin-step {
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .close-cross {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 15px;
        cursor: pointer;
    }
    .usergrade-popin {
        text-align: center;
        background-color: transparent;
        border: none;
        font-size: 30px;
        margin: 20px 0px;
        color: $csecondary100;
    }
}