.seemore {
    margin-bottom: 25px;
    margin-top: 25px;
    color: $cprimary400;
}

.seeless {
    color: $cprimary400;
}

@media (max-width: 576px) {
    .seemore {
        margin-bottom: 70px;
        margin-top: 25px;
    }
}