@import '../colors.scss';

.loginpage, .signuppage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formcard {
    background-color: $cprimary300;
    width: 350px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 6px $cprimary600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}