$cprimary50: #edf9fd;
$cprimary100: #4cc9f0;
$cprimary200: #4895ef;
$cprimary300: #4361ee;
$cprimary400: #3f37c9;
$cprimary500: #3a0ca3;
$cprimary600: #480ca8;
$cprimary700: #2e1b4d; //#1d0e35

$csecondary100: #f72585;
$csecondary200: #b5179e;

$cgrey100: #f9fafb;
$cgrey200: #c5c5c7;
$cgrey300: #8e8e91;

$cerror: red;

.bgprimary50 {
    background-color: $cprimary50;
}

.cerror {
    color: $cerror;
}
