.bold {
    font-weight: bold;
}

.cpointer {
    cursor: pointer;
}

.fs-30px {
    font-size: 30px;
}

.height-18px {
    height: 18px;
}

.ml-10px {
    margin-left: 10px;
}

.mr-10px {
    margin-right: 10px;
}